/* NAVEGAÇÃO HORIZONTAL */

ul{
	background: url(../imagens/fundo-horizontal.png);
	width: auto;
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
}
ul li{
	float: left;
}

ul a{
	display: block;
	line-height: 2em;
	padding: 0 2em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/divisor.png) repeat-y;
}

ul .primeiro a{
	background: none;
}

ul a:hover{
	color: #085662;
	background: #44cade;
}