html, body{
	height: 100%;
	font:16px "Lato", sans-serif;
	color: #777;
}

.conteudo{
	background-color: white;
	color: #777;
	text-align: justify;
	padding: 50px 80px;
}

h3{
	text-transform: uppercase;
	text-align: center;
	color: #111;
}

.conteudo-img{
	position: absolute;
	left 0;
	top: 45%;
	width: 100%;
	text-align: center;
}

.conteudo-img span.titulo{
	color: #fff;
	background-color: #111;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
}

/****EFEITO PARALLAX****/
.img1, .img2, .img3, .img4, .img5{
	position: relative;
	height: 100%;
	background-repeat: no-repeat;
	opacity: 0.8;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.img1{
	background-image: url(../imagens/imagem1.jpg);
}

.img2{
	background-image: url(../imagens/imagem2.jpg);
}

.img3{
	background-image: url(../imagens/imagem3.jpg);
}

.img4{
	background-image: url(../imagens/imagem4.jpg);
}

.img5{
	background-image: url(../imagens/imagem5.jpg);
}


